{:host "0.0.0.0"
 :port 8080
 :dir {:root "www" ;; http server root
       :post "posts" ;; where `.md` file stays, processed `.html` file will be under www/post
       :file "files"
       :template "templates"
       :snippet "snippets"
       :asset "assets"
       :page "pages"}
 :meta {
        :template "template"
        :title "title"}}
